.container {
    height: 100vh;
    width: 100vw;
    background-color: ivory;
    display: flex;
    flex-direction: column;
}

.display {
    height: 70%;
    width: 100%;
    display: flex;
    background-color: #F7E6AD;
}

.book-detail {
    margin: 2% 2% 2% 2%;
    background-color: #FDE49C;
    height: 44%;
    border: #FFB740 1px solid;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    text-align: center;
    word-wrap: break-word;
}

h1{
    font-size: xx-large;
}

.book-detail div {
    font-size: x-large;
    font-weight: 400;
    margin: 2% 2% 2% 2%;
}

.book-detail button {
    margin: 2% 2% 2% 2%;
    height: 15%;
    min-width: 50%;
    font-size: x-large;
    
}

.not-read {
    background-color: lightsalmon;
    
}

.read {
    background-color: limegreen;
    
}
.header{
    height: 30%;
    width: 100%;
    background-color: burlywood;
}
.project-details {
    background-color: #28FFBF;
    height: 80%;
    display: flex;
    align-items: center;
}

.btn-cntnr {
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCFFB9;
}

img {
    height: 42px;
}

img:active {
    transform: scale(1.5);
}


.frm-cntnr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 60%;
    width: 25%;
    /* background-color: #F7E6AD; */
    border: darkgoldenrod 1px solid;
    flex-direction: column;
}


.close-cntnr{
    height: 5%;
    width: 100%;
    background-color: #F5FDB0;
    display: flex;
    justify-content: right;
}
form {
    display: flex;
    flex-direction: column;
    background-color:#F5FDB0;
    height: 95%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
input{
    height: 12%;
    width: 80%;
    margin: 4% ;
    display: flex;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

form h1 {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.read {
    height: 5%;
}

form button {
    min-height: 9%;
    min-width: 30%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.close-cntnr button{
    background-color: lavenderblush;
}

.prjct-name {
    height: 70%;
    width: 40%;
    background-color: #28FFBF;
    margin: 5%;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
